.DS_Store

# editor swap/backup files (vim, nano, emacs)
*.swp
*.swo
*~

# python files
**/__pycache__
env

# project specific ignores
logs/
config.yaml

# ignore all machine_type recipe and session files
app/recipes/*/*
app/sessions/*/*/*
app/recipes/*.zip
app/sessions/*.zip

scripts/docker/nginx/certs/*

# terraform
terraform/.terraform
terraform/*.tfstate*

# ignore Visual Studio Code files
.vscode