version: "3.8"
services:
  nginx:
    image: nginx:alpine-slim
    restart: unless-stopped
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    volumes:
      - <Host Docker Data Directory>/picobrew/nginx/conf:/etc/nginx/conf.d
      - <Host Docker Data Directory>/picobrew/nginx/certs:/certs
      - <Host Docker Data Directory>/picobrew/nginx/scripts:/scripts
    ports:
      - 80:80
      - 443:443
    links:
      - app

  app:
    image: wrcrooks/picobrew_pico:latest
    environment:
      FLASK_ENV: development
      PORT: 8080
    volumes:
      - <Host Docker Data Directory>/picobrew/app/recipes:/picobrew_pico/app/recipes
      - <Host Docker Data Directory>/picobrew/app/sessions:/picobrew_pico/app/sessions
      - <Host Docker Data Directory>/picobrew/app/firmware:/picobrew_pico/app/firmware
      - <Host Docker Data Directory>/picobrew/config.yaml:/picobrew_pico/config.yaml
    ports:
      - 8080:8080